@import 'normalize';
@import 'fonts';
@import "variables";

//tailwind

@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
	height: 100%;
}

body {
	margin: 0 !important;
	padding: 0 !important;
	font-family: "MeamaSansLGV-Medium";
	color: #4c4c4c;
	font-size: 14px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	touch-action: manipulation;
	background-color: #fafafa;
}


.app-container {
		max-width: 600px;
		margin: 0 auto;
		background-color: #fff;
}

.container {
	max-width: 100%;
	padding-right: 25px;
	padding-left: 25px;
}

.scroller {
	overflow: auto;
	white-space: nowrap;
	padding: 30px 20px 15px;
	margin: 10px -25px 0;
}
