@import 'normalize';
@import 'fonts';
@import "variables";
@import 'layout';

//tailwind

@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
	height: 100%;
}

body {
	margin: 0 !important;
	padding: 0 !important;
	font-family: "MeamaSansLGV-Medium";
	color: #4c4c4c;
	font-size: 14px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	touch-action: manipulation;
	background-color: #fafafa;
}


.app-container {
		max-width: 600px;
		margin: 0 auto;
		background-color: #fff;
}

.container {
	max-width: 100%;
	padding-right: 25px;
	padding-left: 25px;
}

.scroller {
	overflow: auto;
	white-space: nowrap;
	padding: 30px 20px 15px;
	margin: 10px -25px 0;
}
//
//.flex-nowrap {
//	flex-wrap: nowrap !important;
//}
//
//.d-flex {
//	display: flex !important;
//}


////

.product-item-small {
	display: inline-block;
	position: relative;
	margin: 0 20px;
	border-radius: 10px;
	width: 100px;
	flex: 0 0 100px;
	max-width: 100px;
	cursor: pointer;
	opacity: 0;
	visibility: hidden;
	transition: opacity 1s, visibility 1s;
}

.product-item-small.show {
	opacity: 1;
	visibility: visible;
}

.full .product-item-small {
	margin: 0 14px;
	width: 89px;
	flex: 0 0 89px;
	max-width: 89px;
}

.product-item-small:first-child {
	margin-left: 5px;
}

.product-item-small .inner {
	width: 100%;
	height: 100%;
	position: relative;
}

.product-item-small .img-box {
	position: relative;
	top: 0;
	width: 100%;
	margin: 0 auto 0 auto;
}

.product-item-small .img-box .img {
	position: relative;
	padding-bottom: 70%;
}

.product-item-small .img-box .img img {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-height: 100%;
	max-width: 100%;
}

.product-item-small .info {
	text-align: center;
	padding: 20px 10px 45px 10px;
	white-space: normal;
	margin-top: 0px;
	min-width: 102px;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

.product-item-small .info p {
	position: relative;
	font-size: 15px;
	color: #000;
	line-height: 1.27;
	min-height: 38px;
}

.product-item-small .info .price {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 15px;
	font-size: 21px;
	color: #000;
	line-height: 1.19;
}

@media (max-width: 427.98px) {
	.product-item-small {
		width: 95px;
		flex: 0 0 95px;
		max-width: 95px;
	}
}

@media (max-width: 413.98px) {
	.product-item-small {
		width: 87px;
		flex: 0 0 87px;
		max-width: 87px;
	}
}

@media (max-width: 389.98px) {
	.product-item-small {
		width: 82px;
		flex: 0 0 82px;
		max-width: 82px;
	}
}

@media (max-width: 374.98px) {
	.product-item-small {
		width: 80px;
		flex: 0 0 80px;
		max-width: 80px;
	}
}

///

.product-item-medium {
	display: inline-block;
	position: relative;
	margin: -18px 0 0 0;
	border-radius: 10px;
	width: 0;
	min-width: 0;
	cursor: pointer;
	opacity: 0;
	visibility: hidden;
	transition: width 0s .6s, min-width 0s .6s, margin 0s .6s, opacity .6s 0s, visibility .6s 0s;
}

.product-item-medium.show {
	opacity: 1;
	visibility: visible;
	width: 130px;
	min-width: 130px;
	margin: -18px 5px 0 5px;
	transition: width 0s 0s, min-width 0s 0s, margin 0s 0s, opacity .6s 0s, visibility .6s 0s;
}

.product-item-medium .inner {
	width: 100%;
	height: 100%;
	position: relative;
	padding-top: 18px;
	overflow: hidden;
}

.product-item-medium .bg {
	position: absolute;
	left: 0;
	right: 0;
	top: 18px;
	bottom: 0;
	border-radius: 10px;
	background-color: #f3f3f3;
}

.product-item-medium .icon {
	position: absolute;
	left: 12px;
	top: 30px;
	max-width: 18px;
	max-height: 18px;
	z-index: 1;
}

.product-item-medium .img-box {
	position: relative;
	top: -18px;
	width: 52%;
	margin: 0 auto 0 auto;
}

.product-item-medium .img-box .img {
	position: relative;
	padding-bottom: 126%;
}

.product-item-medium .img-box .img img {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	max-width: 100%;
	max-height: 100%;
}

.product-item-medium .info {
	text-align: center;
	padding: 16px 10px 54px 10px;
	white-space: normal;
	margin-top: -15px;
}

.product-item-medium .info p {
	position: relative;
	font-size: 15px;
	color: #000;
	line-height: 1.27;
}

.product-item-medium .info .price {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 18px;
	font-size: 16px;
	color: #000;
	line-height: 1.25;
}

//

.product-item-large {
	display: inline-block;
	position: relative;
	margin: -18px 0 0 0;
	border-radius: 10px;
	width: 0;
	min-width: 0;
	cursor: pointer;
	opacity: 0;
	visibility: hidden;
	transition: width 0s .6s, min-width 0s .6s, margin 0s .6s, opacity .6s 0s, visibility .6s 0s;
}

.product-item-large.show {
	opacity: 1;
	visibility: visible;
	width: 156px;
	min-width: 156px;
	margin: -18px 5px 0 5px;
	transition: width 0s 0s, min-width 0s 0s, margin 0s 0s, opacity .6s 0s, visibility .6s 0s;
}

.product-item-large .inner {
	width: 100%;
	height: 100%;
	position: relative;
	padding-top: 18px;
	overflow: hidden;
}

.product-item-large .bg {
	position: absolute;
	left: 0;
	right: 0;
	top: 18px;
	bottom: 0;
	border-radius: 10px;
	background-color: #f3f3f3;
}

.product-item-large .icon {
	position: absolute;
	left: 12px;
	top: 30px;
	max-width: 18px;
	max-height: 18px;
	z-index: 1;
}

.product-item-large .img-box {
	position: relative;
	top: -18px;
	width: 64%;
	margin: 0 auto 0 auto;
}

.product-item-large .img-box .img {
	position: relative;
	padding-bottom: 124%;
}

.product-item-large .img-box .img img {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	max-width: 100%;
	max-height: 100%;
}

.product-item-large .info {
	text-align: center;
	padding: 12px 10px 72px 10px;
	white-space: normal;
	margin-top: -25px;
}

.product-item-large .info p {
	position: relative;
	font-size: 15px;
	color: #000;
	line-height: 1.27;
}

.product-item-large .info .price {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 28px;
	font-size: 21px;
	color: #000;
	line-height: 1.19;
}

//Products section

.products-section {
	position: relative;
	margin-top: 40px;
	transition: transform .8s cubic-bezier(0.51, 0.36, 0.22, 1);
}

body.visible-product-detail .products-section {
	transform: translateY(-100px);
}

.products-section .scroller {
	overflow: auto;
	white-space: nowrap;
	padding: 30px 20px 15px 20px;
	margin: 10px -25px 0 -25px;
}

.products-section .scroller .white-space {
	width: 20px;
	min-width: 20px;
	height: 20px;
	pointer-events: none;
	opacity: 0;
	visibility: hidden;
}


//Product Headline


.products-headline h2 {
	font-size: 28px;
	color: #000;
}

.first .products-headline h2 {
	color: #fff;
}

.products-headline .filter {
	vertical-align: top;
	margin-top: 15px;
}

.products-headline .filter .item {
	display: inline-block;
	vertical-align: top;
	height: 30px;
	padding: 0 10px;
	margin-right: 8px;
	border-radius: 30px;
	font-size: 14px;
	line-height: 28px;
	text-align: center;
	color: #000;
	cursor: pointer;
}

.first .products-headline .filter .item {
	color: #fff;
}

.products-headline .filter .item.active {
	background-color: #000;
	color: #fff;
}

.first .products-headline .filter .item.active {
	background-color: #fff;
	color: #000;
}


//Skeleton

.shimmer {
	border: 1px solid red;
	position: relative;
	margin-top: 40px;
	opacity: 0;
	transform: translateY(20px);
	transition: opacity .5s, transform .5s;
}

body.animating .shimmer {
	opacity: 1;
	transform: translateY(0);
}

.shimmer .title {
	height: 33px;
	width: 150px;
	border-radius: 33px;
}

.shimmer .items {
	position: relative;
	overflow: hidden;
	white-space: nowrap;
	margin: 40px -25px 0 -5px;
}

.shimmer .items .item {
	display: inline-block;
	margin: 0 5px 15px 5px;
	border-radius: 10px;
	width: 130px;
	height: 159px;
}

.shimmer .items .item.large {
	width: 156px;
	height: 201px;
}

.shimmer .filter {
	position: relative;
	overflow: hidden;
	white-space: nowrap;
	margin: 12px 0 -7px 0;
}

.shimmer .filter .item {
	display: inline-block;
	margin-right: 8px;
	border-radius: 30px;
	width: 80px;
	height: 30px;
}

.shimmer .shimmer-animation-el {
	animation: shimmerAnimation 2.5s infinite linear;
	background: linear-gradient(to right, #f8f8f8 0%, #e5e5e5 30%, #f8f8f8 42%);
	background-size: 1000px 100%;
}

.shimmer .shimmer-animation-el-1 { animation-delay: 0s; }
.shimmer .shimmer-animation-el-2 { animation-delay: .05s; }
.shimmer .shimmer-animation-el-3 { animation-delay: .1s; }
.shimmer .shimmer-animation-el-4 { animation-delay: .15s; }
.shimmer .shimmer-animation-el-5 { animation-delay: .2s; }
.shimmer .shimmer-animation-el-6 { animation-delay: .25s; }
.shimmer .shimmer-animation-el-7 { animation-delay: .2s; }
.shimmer .shimmer-animation-el-8 { animation-delay: .25s; }
.shimmer .shimmer-animation-el-9 { animation-delay: .3s; }
.shimmer .shimmer-animation-el-10 { animation-delay: .35s; }
.shimmer .shimmer-animation-el-11 { animation-delay: .4s; }
.shimmer .shimmer-animation-el-12 { animation-delay: .45s; }
.shimmer .shimmer-animation-el-13 { animation-delay: .5s; }
.shimmer .shimmer-animation-el-14 { animation-delay: .55s; }
.shimmer .shimmer-animation-el-15 { animation-delay: .6s; }

@keyframes shimmerAnimation {
	from {
		background-position: -1000px 0;
	}
	to {
		background-position: 1000px 0;
	}
}






