.footer {
	margin-top: 40px;
	transition: transform .8s cubic-bezier(0.51, 0.36, 0.22, 1), opacity .8s;
	.footer__wrapper {
		border-top: 1px solid rgba(112, 112, 112, 0.1);
		padding: 20px 0 35px 0;
		p {
			font-size: 14px;
			color: rgba(0, 0, 0, 0.5);
		}
		.phone {
			font-size: 20px;
			color: #000;
		}
		.footer__socials {
			position: relative;
			top: -9px;
			a {
				position: relative;
				margin-left: 17px;
				height: 24px;
				img {
					max-height: 100%;
				}
			}
		}
	}
}

body.visible-product-detail {
	.footer {
		transform: translateY(-100px);
		opacity: 0;
	}
}
