.product-item-small {
	display: inline-block;
	position: relative;
	margin: 0 20px;
	border-radius: 10px;
	width: 100px;
	flex: 0 0 100px;
	max-width: 100px;
	cursor: pointer;
	opacity: 0;
	visibility: hidden;
	transition: opacity 1s, visibility 1s;
	&:first-child {
		margin-left: 5px;
	}
	.product-item__inner {
		width: 100%;
		height: 100%;
		position: relative;
	}
	.product-item__img-box {
		position: relative;
		top: 0;
		width: 100%;
		margin: 0 auto 0 auto;
		.product-item_img {
			position: relative;
			padding-bottom: 70%;
			img {
				display: block;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				max-height: 100%;
				max-width: 100%;
			}
		}
	}
	.product-item__info {
		text-align: center;
		padding: 20px 10px 45px 10px;
		white-space: normal;
		margin-top: 0;
		min-width: 102px;
		position: relative;
		left: 50%;
		transform: translateX(-50%);
		p {
			position: relative;
			font-size: 15px;
			color: #000;
			line-height: 1.27;
			min-height: 38px;
		}
		.product-item__price {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 15px;
			font-size: 21px;
			color: #000;
			line-height: 1.19;
		}
	}
}
.product-item-small.show {
	opacity: 1;
	visibility: visible;
}
.full {
	.product-item-small {
		margin: 0 14px;
		width: 89px;
		flex: 0 0 89px;
		max-width: 89px;
	}
}
/// {
.product-item-medium {
	display: inline-block;
	position: relative;
	margin: -18px 0 0 0;
	border-radius: 10px;
	width: 0;
	min-width: 0;
	cursor: pointer;
	opacity: 0;
	visibility: hidden;
	transition: width 0s .6s, min-width 0s .6s, margin 0s .6s, opacity .6s 0s, visibility .6s 0s;
}

.product-item-medium.show {
	opacity: 1;
	visibility: visible;
	width: 130px;
	min-width: 130px;
	margin: -18px 5px 0 5px;
	transition: width 0s 0s, min-width 0s 0s, margin 0s 0s, opacity .6s 0s, visibility .6s 0s;
}
.product-item-medium {
	.product-item__inner {
		width: 100%;
		height: 100%;
		position: relative;
		padding-top: 18px;
		overflow: hidden;
	}
	.product-item__bg {
		position: absolute;
		left: 0;
		right: 0;
		top: 18px;
		bottom: 0;
		border-radius: 10px;
		background-color: #f3f3f3;
	}
	.product-item__icon {
		position: absolute;
		left: 12px;
		top: 30px;
		max-width: 18px;
		max-height: 18px;
		z-index: 1;
	}
	.product-item__img-box {
		position: relative;
		top: -18px;
		width: 52%;
		margin: 0 auto 0 auto;
		.product-item_img {
			position: relative;
			padding-bottom: 126%;
			img {
				position: absolute;
				top: 0;
				left: 50%;
				transform: translateX(-50%);
				max-width: 100%;
				max-height: 100%;
			}
		}
	}
	.product-item__info {
		text-align: center;
		padding: 16px 10px 54px 10px;
		white-space: normal;
		margin-top: -15px;
		p {
			position: relative;
			font-size: 15px;
			color: #000;
			line-height: 1.27;
		}
		.product-item__price {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 18px;
			font-size: 16px;
			color: #000;
			line-height: 1.25;
		}
	}
}
// {
.product-item-large {
	display: inline-block;
	position: relative;
	margin: -18px 0 0 0;
	border-radius: 10px;
	width: 0;
	min-width: 0;
	cursor: pointer;
	opacity: 0;
	visibility: hidden;
	transition: width 0s .6s, min-width 0s .6s, margin 0s .6s, opacity .6s 0s, visibility .6s 0s;
}
.product-item-large.show {
	opacity: 1;
	visibility: visible;
	width: 156px;
	min-width: 156px;
	margin: -18px 5px 0 5px;
	transition: width 0s 0s, min-width 0s 0s, margin 0s 0s, opacity .6s 0s, visibility .6s 0s;
}
.product-item-large {
	.product-item__inner {
		width: 100%;
		height: 100%;
		position: relative;
		padding-top: 18px;
		overflow: hidden;
	}
	.product-item__bg {
		position: absolute;
		left: 0;
		right: 0;
		top: 18px;
		bottom: 0;
		border-radius: 10px;
		background-color: #f3f3f3;
	}
	.product-item__icon {
		position: absolute;
		left: 12px;
		top: 30px;
		max-width: 18px;
		max-height: 18px;
		z-index: 1;
	}
	.product-item__img-box {
		position: relative;
		top: -18px;
		width: 64%;
		margin: 0 auto 0 auto;
		.product-item_img {
			position: relative;
			padding-bottom: 124%;
			img {
				position: absolute;
				top: 0;
				left: 50%;
				transform: translateX(-50%);
				max-width: 100%;
				max-height: 100%;
			}
		}
	}
	.product-item__info {
		text-align: center;
		padding: 12px 10px 72px 10px;
		white-space: normal;
		margin-top: -25px;
		p {
			position: relative;
			font-size: 15px;
			color: #000;
			line-height: 1.27;
		}
		.product-item__price {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 28px;
			font-size: 21px;
			color: #000;
			line-height: 1.19;
		}
	}
}
@media (max-width: 427.98px) {
	.product-item-small {
		width: 95px;
		flex: 0 0 95px;
		max-width: 95px;
	}
}
@media (max-width: 413.98px) {
	.product-item-small {
		width: 87px;
		flex: 0 0 87px;
		max-width: 87px;
	}
}
@media (max-width: 389.98px) {
	.product-item-small {
		width: 82px;
		flex: 0 0 82px;
		max-width: 82px;
	}
}
@media (max-width: 374.98px) {
	.product-item-small {
		width: 80px;
		flex: 0 0 80px;
		max-width: 80px;
	}
}
